### Load Data

In [3]:
import pandas as pd
df=pd.read_csv(r'datalabel.csv')

In [7]:
df['label'].value_counts()

label
positive    8858
negative    2248
Name: count, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11106 entries, 0 to 11105
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   stemming      11106 non-null  object
 1   label         11106 non-null  object
 2   total_weight  11106 non-null  int64
 3   word_weights  11106 non-null  object
dtypes: int64(1), object(3)
memory usage: 347.2+ KB

In [15]:
df['stemming'].isnull().sum()

0

### TF-IDF
Create 500 feature

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf_idf = TfidfVectorizer(max_features=500)
tfidf_matrix = tf_idf.fit_transform(df['stemming'])

tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tf_idf.get_feature_names_out())

data = pd.concat([df, tfidf_df], axis=1)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11106 entries, 0 to 11105
Columns: 504 entries, stemming to zonauang
dtypes: float64(500), int64(1), object(3)
memory usage: 42.7+ MB

In [23]:
data.head()

,stemming,label,total_weight,word_weights,aci,ada,admin,aduh,ah,air,...,varian,versi,voc,voucher,waktu,walaupun,wts,yuk,zonajajan,zonauang
0,lanjut janji_jiwa stay hungry tau,positive,4,"[2, 0, 0, 0, 2]",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,banyak engga suka janji_jiwa padahal favorit i...,positive,19,"[3, 0, 3, 0, 0, 5, 0, 0, 0, 3, 0, 0, 0, 5, 0]",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,kopi susu sahabat janji_jiwa gila enak banget ...,positive,25,"[0, 0, 4, 0, 3, 5, 1, 0, 5, 1, 0, 3, 3]",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,habis beberes kamar baru sadar nyata kumpul to...,positive,10,"[3, 0, 0, 0, 2, 4, 0, 0, 0, 3, 1, -3]",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,bjir wkwjwkk janji suci penting bukan janji_ji...,positive,1,"[0, 0, 0, 4, 3, -3, 0, -3]",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
data.to_csv("500feature.csv", index=False)